.header {
    background: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
}

.nav-logo {
    display:flex;
    height: 60px;
    width: 60px;
    padding: 2%;
}

.nav-logo:hover {

}

.nav-items {

    display:flex;
    margin-left: auto;
    margin-right: 5%;
    align-items: center;
    
}

.nav-link {
    background-color: #09d3ac;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    
}

.nav-link:hover {
    background-color: #08bd9a;
}

.table {
    min-Width: 700;
    background: #DCDCDC !important;
}

.Wrap {
    min-Width: 700;
    width: "80%";
}

.Head {
    background: #85D7C7;
}

.Total{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Cart{
    height: 3.8%;
    width: 3.8%;
    vertical-align: text-bottom !important;
    margin-bottom: -5px;
}

